@model IEnumerable<Sistema.Universitario.Application.ViewModels.MateriaViewModel>

@{
    ViewData["Title"] = "Disciplinas";
}

<h1>Disciplinas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar nova disciplina</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CursoId</th>
            <th>ProfessorId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.CursoId</td>
            <td>@item.ProfessorId</td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
    }
    </tbody>
</table>
